/*************************************************
    REGOLE HEADER
 *************************************************/

/* VIEW DESKTOP */

@media screen and (min-width:1200px) {

    .container {
        width: 70%;
    }
    
    #hamburger{
        display: none;
    }

    #main-menu {
        display: block;
    }
}







/*************************************************
    REGOLE MAIN
 *************************************************/


 /* view tablet */

@media screen and (min-width:768px) {
    
    /* features */
    .features .row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .features .col {
        width: calc((100% / 3) - 10px);
    }

    .col.large {
        width: calc(((100% / 3) * 2) - 10px);
    }

    .features h3 {
        font-size: 20px;
    }

    .picture {
        max-width: 50%;
    }

    /* strategic planning  */
    .purple-bg h2 {
        font-size: 30px;
    }

    /* testimonials */
    .testimonials .row {
        color: var(--white);
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }

    .testimonials .pic {
        width: calc((100% / 3) - 10px);
        text-align: center;
    }

    .pic img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    #large {
        width: calc(((100% / 3)*2)-10px);
        text-align: left;
    }

     /* benefits of working with us  */

    .benefits .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .benefits .col {
        width: calc(50% - 10px);
    }

    /* about us */

    .about-us .row {
        display: flex;
        justify-content: space-between;
    }

    .about-us .col {
        width: calc(50% - 10px);
    }

    /* get started */
    .get-started h2 {
        font-size: 100px;
    }

}


/* view desktop */
@media screen and (min-width:1200px) {

    /* features */
    .features .col.large {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
    }

    .col.large div {
        width: 50%;
        bottom: -30px;
    }

    .col.large .info {
        align-self: flex-start;
    }

    /* strategic planning  */
    .purple-bg .row {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: flex-end;
        
    }

    .planning .col {
        width: calc((100% / 3) - 10px);
    }

    .spaced {
        padding-bottom: 80px;
    }

    
    /* testimonials */

    #large {
        width: calc(((100% / 3)*2)-10px);
        text-align: left;
    }

     /* benefits of working with us  */

    .benefits .row {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

     .benefits .col {
        width: calc((100% / 3) - 10px);
    }
    

    /* get started */

    .get-started .container {
        width: 40%;
    }

}


/*************************************************
    REGOLE FOOTER
 *************************************************/

 @media screen and (min-width:1200px) {

    footer .container {
        width: 40%;
    }
    
 }