/*************************************************
    REGOLE GENERALI
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 90%;
    min-height: 100%;
    margin: 0 auto;

    /* DEBUG */
    /* background-color: yellow; */
}

.button {
    color: #313131;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 25px;
}



/*************************************************
    REGOLE HEADER
 *************************************************/

header {
    width: 100%;
    height: 70px;
    background-color: #0084fd;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    font-size: 30px;
}

#main-menu {
    display: none;
}

#main-menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



/* VIEW DESKTOP */

@media screen and (min-width:1200px) {

    .container {
        width: 70%;
    }
    
    #hamburger{
        display: none;
    }

    #main-menu {
        display: block;
    }
}


/*************************************************
    REGOLE MAIN
 *************************************************/

section {
padding: 120px 0 30px;
}

.purple-bg {
    background-color: #9792e4;
    color: #ffffff;
}


/* features */
.card {

    width: calc((100% / 3) - 10px);
    text-align: center;
    border-radius: 25px;
    margin-bottom: 30px;
    padding: 10px;
}

.card.large {
    text-align: left;
}

.info {
    padding: 20px;
}

.info > * {
    padding-bottom: 20px;
}

.card-title {
    color: #0084fd;
}

.card-title i {
    font-size: 50px;
    padding: 25px;
}

#big {
    padding: 10px 60px;
    background-color: #0084fd;
    color: #ffffff;
    margin: 20px 0;
    display: inline-block;
}

.picture {
    position: relative;
    bottom: -15px;
}



/* VIEW TABLET */
@media screen and (min-width:768px) {
    
    .features .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .features .card {
        background-color: #b5ddff;
    }

    .card.large {
        width: calc(((100% / 3) * 2) - 10px);
    }

    h3 {
        font-size: 25px;
    }

    .picture {
        max-width: 50%;
    }
    
}


/* view desktop */
@media screen and (min-width:1200px) {

    .card.large {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
    }

}

/* strategic planning */

.card.white-bg {
    background-color: #ffffff;
    color: #111 ;
}

.fa-arrow-down-long {
    background-color: #9792e4;
    padding: 12px 15px;
    border-radius: 50%;
}


/* view tablet */

@media screen and (min-width: 780px) {
    
    .purple-bg h2 {
        font-size: 30px;
    }
}


/* view desktop */

@media screen and (min-width: 1200px) {
    .purple-bg .row {
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: flex-end;
        
    }

    .card.purple-bg img {
        position: relative;
        bottom: 50px;
    }
}





